@import "margin";
@import "sr-only";

.has-cookie {
    display: none !important;
}

[data-aos] {
  pointer-events: none;
  transform-style: preserve-3d;
  &.aos-animate {
    pointer-events: auto;
  }
}


.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
