.logo {

    $logo: &;

    &__link {
        display: inline-block;
        max-width: 220px;
        margin: 0 auto;
    }

    &__img {
        width: 100%;
        display: block;
        border: 0;
    }

    &--name {
        width: 240px;

        #{$logo}__link {
            max-width: none;
            width: 100%;
        }
    }

    &--footer {
        margin-bottom: $gap;
    }
}

.custom-logo-link {
    display: inline-block;
}