.header {

    background-color: $gray-dark; 

    &__wrapper {
        padding: $gutter;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center; 
    }

    &__logo,
    &__hamburger {
        flex: 0 1 25%;
        max-width: 25%; 
    }

    &__hamburger {
        text-align: right;
    }

    &__name {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .logo {
        width: 100px;
        margin: 0 auto; 

        &--name {
            width: 280px;
            margin: 0 auto;
        }
    }

    .drawer__logo {
        width: 180px;
    }

    .name {
        display: none;

        @include respond-above(sm) {
            display: block;
        }
    }

    .hamburger {

    }

    .custom-logo {
        width: 100%;
        height: auto;
    }
}
