<footer class="footer">
    <div class="container container--footer">
        <div class="mobile-footer">
            <div class="logo logo--footer">
                <a href="https://phasefamilylearningcenter.com/" id="site-logo" class="logo__link" title="Phase Family Learning Center" rel="home">
                    <noscript><img class="logo__img" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png" alt="Phase Family Learning Center"></noscript><img
                        class="lazyload logo__img"
                        src="https://cdn.shortpixel.ai/client/q_lqip,ret_wait/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png"
                        data-src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png"
                        alt="Phase Family Learning Center">
                </a>
            </div>
            <div class="mb-2">
                <nav class="menu">
                    <ul id="menu-footer-menu-mobile" class="menu__items menu__items--footer">
                        <li id="menu-item-210" class="menu__item menu__item--footer_menu_mobile">
                            <a href=" https://phasefamilylearningcenter.com/about/" class=" menu__link">About</a>
                        </li>
                        <li id="menu-item-512" class="menu__item menu__item--footer_menu_mobile">
                            <a href="https://phasefamilylearningcenter.com/the-facilities/" class="menu__link">Facilities</a>
                        </li>
                        <li id="menu-item-206" class="menu__item menu__item--footer_menu_mobile">
                            <a href=" https://phasefamilylearningcenter.com/contact/" class=" menu__link">Contact Us</a>
                        </li>
                        <li id="menu-item-511" class="menu__item menu__item--footer_menu_mobile">
                            <a href="https://phasefamilylearningcenter.com/news-press/" class="menu__link">Press Kit</a>
                        </li>
                        <li id="menu-item-209" class="menu__item menu__item--footer_menu_mobile">
                            <a href=" https://phasefamilylearningcenter.com/terms-conditions/" class="menu__link" >Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <address class="address">
                Phase Family Learning Center<br>
                <span>12150 Morris Rd Unit 1, Alpharetta, GA 30005</span><br>
                <span>
                    <a href="tel:(470) 231-8618">(470) 231-8618</a>
                </span>
            </address>
            <p class="footer__copy">© Copyright 2019 Phase Family Learning Center</p>
        </div>
        <div class="desktop-footer">
            <div class="grid">
                <div class="grid__item grid__item--4 desktop-footer__left">
                    <nav class="menu">
                        <ul id="menu-footer-menu-left" class="menu__items menu__items--footer">
                            <li id="menu-item-202" class="menu__item menu__item--footer_menu_left">
                                <a href=" https://phasefamilylearningcenter.com/about/" class="menu__link">About</a>
                            </li>
                            <li id="menu-item-201" class="menu__item menu__item--footer_menu_left">
                                <a href=" https://phasefamilylearningcenter.com/terms-conditions/" class="menu__link">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social">
                        <ul class="social__items">
                            <li class="social__item">
                                <a class="social__link" rel="nofollow noopener noreferrer" href="https://www.facebook.com/PhaseFamilyLC/" target="_blank">
                                    <span class="socicon socicon--facebook" aria-hidden="true"></span><span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" rel="nofollow noopener noreferrer" href="https://www.instagram.com/phasefamilylc/" target="_blank">
                                    <span class="socicon socicon--instagram" aria-hidden="true"></span><span class="sr-only">Instagram</span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" rel="nofollow noopener noreferrer" href="https://twitter.com/phasefamilylc" target="_blank">
                                    <span class="socicon socicon--twitter" aria-hidden="true"></span><span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" rel="nofollow noopener noreferrer" href="https://www.linkedin.com/company/phase-family-center" target="_blank">
                                    <span class="socicon socicon--linkedin" aria-hidden="true"></span><span class="sr-only">Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <address class="address">
                        Phase Family Learning Center<br>
                        <span>12150 Morris Rd Unit 1, Alpharetta, GA 30005</span><br>
                        <span>
                            <a href="tel:(470) 231-8618">(470) 231-8618</a>
                        </span>
                    </address>
                </div>
                <div class="grid__item grid__item--4 desktop-footer__center">
                    <div class="desktop-footer__logo">
                        <div class="logo logo--footer">
                            <a href="https://phasefamilylearningcenter.com/" id="site-logo" class="logo__link" title="Phase Family Learning Center" rel="home">
                                <noscript><img class="logo__img" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png" alt="Phase Family Learning Center"></noscript><img
                                    class="logo__img ls-is-cached lazyloaded"
                                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png"
                                    data-src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img/http://phasefamilylearningcenter.com/wp-content/uploads/2019/04/phase-wordmark-1.png"
                                    alt="Phase Family Learning Center">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--4 desktop-footer__right">
                    <nav class="menu">
                        <ul id="menu-footer-menu-right" class="menu__items menu__items--footer">
                            <li id="menu-item-510" class="menu__item menu__item--footer_menu_right">
                                <a href="https://phasefamilylearningcenter.com/the-facilities/" class="menu__link">Facilities</a>
                            </li>
                            <li id="menu-item-509" class="menu__item menu__item--footer_menu_right">
                                <a href="https://phasefamilylearningcenter.com/news-press/" class="menu__link">Press Kit</a>
                            </li>
                            <li id="menu-item-203" class="menu__item menu__item--footer_menu_right">
                                <a href=" https://phasefamilylearningcenter.com/contact/" class=" menu__link">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <p class="footer__copy">© Copyright 2019 Phase Family Learning Center</p>
                </div>
            </div>
        </div>
    </div>
</footer>
