<!-- Newsletter : BEGIN -->
<section class="section section--small section--border">
    <div class="container">
        <div class="newsletter">
            <h5 class="newsletter__title heading heading--3">Subscribe to Our Newsletter</h5>
            <div class="newsletter__form">
                Mailchimp form goes here
            </div>
        </div>
    </div>
</section>
<!-- Newsletter : END -->
